<div class="search_box">
  <div class="search">
    <input type="text" name="search" placeholder="Search..">
  </div>
  <div class="search_icon">
    <div>Lives here</div>
  </div>
</div>
<video autoplay loop id="bgvid">
  <source src="http://ryanj.tech/concert.mp4" type="video/mp4">
</video>
