<div class="container">
  <form class="form-wrapper cf">
    <img src="https://www.tunecore.com/images/tc_logos/color/TuneCore_PNG_white_color_horizontal.png" alt="Tunecore">
      <div class="search">
        <input type="text" name="search" placeholder="Search..">
        <button type="submit">Search</button>
      </div>
  </form>
</div>

  <video autoplay loop id="bgvid">
    <source src="http://ryanj.tech/concert.mp4" type="video/mp4">
  </video>
